# Supabase Configuration
SUPABASE_URL=https://jkobgqcoednzpbfktogj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imprb2JncWNvZWRuenBiZmt0b2dqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4MzUzMjEsImV4cCI6MjA4NzQxMTMyMX0.3HNh-YSffFFQEDDp8RvzY9hypXZc7tmfmGhO3jlL0wY
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imprb2JncWNvZWRuenBiZmt0b2dqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTgzNTMyMSwiZXhwIjoyMDg3NDExMzIxfQ.L_Zv8WbbpGn8JAk96Hglas6jBjVCdKWCZglScPLaNe0
SUPABASE_STORAGE_BUCKET=post-images

# Database Configuration
DATABASE_URL=postgresql://postgres:[password]@db.jkobgqcoednzpbfktogj.supabase.co:5432/postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=[your-database-password]

# Stripe Configuration
STRIPE_SECRET_KEY=[your-stripe-secret-key]
STRIPE_WEBHOOK_SECRET=[your-stripe-webhook-secret]
